@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  background-color: rgb(12, 12, 136);
} 

.correct {
  background-color: rgb(71, 199, 71);
}

.wrong {
  background-color: rgb(190, 60, 60);
}